.card {
	display: inline-block;
	width: 300px;
	height: 400px;
	overflow: hidden;
	border: 1.25px solid rgb(233, 233, 233);
	border-radius: 16px;
	margin: 10px;
	transition: 0.5s all;
	--shadow: transparent;
	box-shadow: 0 0 10px 5px var(--shadow);
	position: relative;
	font-size: 100%;
}

.card:hover {
	--shadow: rgba(53, 53, 53, 0.103);
	/* transform: rotateY(180deg) translate(20px, 20px);
    background: pink; */
}

h5.business_name {
	color: black;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
}

.buttons {
	position: absolute;
	left: 10px;
	top: 50px;
}
