/* * * * * * * * * * * * * * * */
/* Container classes */
.options_container {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	border-bottom: 2px solid teal;
	margin-bottom: 4rem;
}

.buttons_container {
	display: flex;
	width: 60vw;
	justify-content: space-between;
}

.sort_container,
.filter_container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sort_container > *,
.filter_container > * {
	margin: 1rem;
}

/* * * * * * * * * * * * * * * */
/* Button and icon styling */
/* Shared styles */
.sort_button,
.filter_button {
	background-color: teal;
	border: none;
	border-radius: 12.5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.2rem;
	opacity: 0.9;
	transition: 0.3s;
}
.sort_button:hover,
.filter_button:hover,
.button_name:hover,
.icon:hover {
	opacity: 1;
}
/* * * * * * * * * * * * * * * */
/* Sort Button */
.sort_button {
	padding: 0 0.5rem;
	align-items: center;
}
.sort_button > * {
	margin: 0 0.5rem;
}

.button_name {
	color: white;
	cursor: default;
	font-size: 1.2rem;
}
.icon {
	opacity: 0.6;
	transition: 0.3s;
	color: white;
	cursor: pointer;
	height: 2.4rem;
	width: 2.4rem;
	display: block;
	margin: auto;
}
/* * * * * * * * * * * * * * * */
/* Filter button */
.filter_button {
	background-color: teal;
	border: none;
	color: white;
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
}

/* * * * * * * * * * * * * * * */
/* Misc */
.login_link:hover {
	text-decoration: underline;
	color: teal;
}
