.options_container {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.buttons_container {
	display: flex;
	width: 50vw;
	justify-content: center;
	align-items: center;
}

.sort_button,
.filter_button {
	background-color: orange;
	border: none;
	color: white;
	padding: 0 1rem;
	margin: 0 1rem;
	text-align: center;
	font-size: 1rem;
}
.filter_button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
}

.sort_button {
	border: solid 2px white;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: end;
	align-content: center;
}
.button_name {
	border-right: white solid 2px;
	grid-column: 1 / span 1;
	grid-row: 1 / span 3;
	padding: 0 1rem;
	opacity: 0.6;
	transition: 0.3s;
	cursor: pointer;
}
.button_icon {
	height: 1.5rem;
	width: 1.5rem;
	opacity: 0.6;
	transition: 0.3s;
	cursor: pointer;
	vertical-align: middle;
}
.sort_button:nth-child(2) {
	border-bottom: 1px solid white;
}

.button_name:hover,
.button_icon:hover .filter_button:hover {
	opacity: 1;
}

.add_button {
	background-color: green;
	opacity: 0.6;
	height: 4rem;
	width: 4rem;
	border: none;
	border-radius: 50%;
	color: white;
	font-size: 2rem;
	transition: 0.3s;
}
.add_button:hover {
	font-size: 3rem;
	opacity: 1;
	cursor: pointer;
}
