/* Label */
.label {
	padding-bottom: 0.5rem;
	font-size: 1.2rem;
}

.custom_file_upload {
	border: 2px dashed teal;
	display: inline-block;
	cursor: pointer;
	padding: 1rem;
}

/* Inputs */
.input_field[type='message'] {
	height: 100%;
	width: 100%;
	grid-column: 1 / span 2;
	font-family: 'Bilo Light', sans-serif;
}

.input_field[type='text'],
.input_field[type='email'],
.textarea {
	border: none;
	border-bottom: solid 1px teal;
	padding: 1rem;
}

.input_field[type='text']:focus,
.input_field[type='email']:focus,
.textarea:focus {
	border: solid 1px teal;
	outline: none;
	padding-top: calc(1rem - 1px);
	padding-left: calc(1rem - 1px);
}
.input_field[type='file'] {
	display: none;
}
.input_field {
	margin-bottom: 2rem;
}
.textarea {
	height: 100%;
	max-height: 50vh;
	font-size: 1rem;
	resize: vertical;
	padding: 1rem;
}
