/* Headers and Titles */
.header {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 3rem;
}

.subtitle_container {
	display: flex;
}
.title {
	margin-top: 1rem;
	position: relative;
}
.subtitle {
	font-size: 1.5rem;
	position: relative;
}
.title::after,
.subtitle::after {
	position: absolute;
	content: '';
	background-color: teal;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -1px;
}

/* Form and input fields */
.bio_container,
.contact_container,
.address_container,
.fieldset_container,
.images_container,
.thumbs_container,
.thumbnailInner {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.form {
	margin: 1rem;
	padding: 1rem;
}
.form_area {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
	padding: 1rem;
}
.formSubmit {
	z-index: 0;
	height: 4rem;
	width: 4rem;
	border: none;
}

/* Fieldset */
.fieldset {
	border: solid 1px teal;
	width: 100%;
	max-height: 4rem;
}
.fieldset > * {
	padding: 0 0.5rem;
}

/* Images Container */
.images_container {
	grid-column: 2 / span 1;
}
.images_container > * {
	padding-bottom: 0.5rem;
}

.preview_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}
.image_preview_container {
	position: relative;
}

.image_preview {
	height: auto;
	width: 200px;
	padding: 1rem 1rem 0;
	margin: 2rem 0;
}
.image_preview_delete {
	position: absolute;
	bottom: 0;
	right: 0;
}
